{include file="public/header" /}

<!-- BEGIN THEME LAYOUT STYLES -->
<link href="__PUBLIC__/layouts/layout6/css/layout.min.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/layouts/layout6/css/custom.min.css" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
</head>
<!-- END HEAD -->

<body class="">
    {include file="public/topbar" /}
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="page-content-fixed-header">
                <!-- BEGIN BREADCRUMBS -->
                <ul class="page-breadcrumb">
                    <li><a href="#">控制面板</a></li>
                    <li>仪表盘</li>
                </ul>
                <!-- END BREADCRUMBS -->
            </div>
            <!--左侧菜单-->
            {include file="public/sidenav" /}
            <!--man content begin-->
            <div class="page-fixed-main-content">
                <!-- BEGIN PAGE BASE CONTENT -->
                <!-- BEGIN DASHBOARD STATS 1-->
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 blue" href="#">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="待更新">0</span>
                                </div>
                                <div class="desc"> 今日增加用户数 </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 red" href="#">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="待更新">0</span> </div>
                                <div class="desc"> 当月新增会员数 </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 green" href="#">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="待更新">0</span>
                                </div>
                                <div class="desc"> 今日充值金额 </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <a class="dashboard-stat dashboard-stat-v2 purple" href="#">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    <span data-counter="counterup" data-value="待更新">0</span>
                                </div>
                                <div class="desc"> 今日新增会员 </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- END DASHBOARD STATS 1-->
                <div class="row">

                </div>
                <!-- END PAGE BASE CONTENT -->
            </div>
            <!--man content end-->
            {include file="public/copyright" /}
        </div>
    </div>

    {include file="public/footer" /}

    <script>
        $("input[name=month_gym]").change(function () {
            var chk_value = [];
            $('input[name="month_gym"]:checked').each(function () {
                chk_value.push($(this).val());
            });
            var mid = JSON.stringify(chk_value);
            $.ajax({
                type: "POST",
                url: "{:url('admin/index/query_month_log')}",
                dataType: 'json',
                data: {
                    'mid': mid
                },
                success: function (res) {
                    $("#month_gym").html(res.html);
                    if (res.total_fee) {
                        $("#total_month").html("( " + res.total_fee + " 元)");
                    }
                }
            })
        })

        $("input[name=today_gym]").change(function () {
            var chk_value = [];
            $('input[name="today_gym"]:checked').each(function () {
                chk_value.push($(this).val());
            });
            var mid = JSON.stringify(chk_value);
            $.ajax({
                type: "POST",
                url: "{:url('admin/index/query_today_log')}",
                dataType: 'json',
                data: {
                    'mid': mid
                },
                success: function (res) {
                    $("#today_gym").html(res.html);
                    if (res.total_fee) {
                        $("#total_today").html("( " + res.total_fee + " 元)");
                    }
                }
            })
        })
    </script>