<!--[if lt IE 9]>
<script src="__PUBLIC__/global/plugins/respond.min.js"></script>
<script src="__PUBLIC__/global/plugins/excanvas.min.js"></script>
<script src="__PUBLIC__/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
<!-- BEGIN CORE PLUGINS -->
<script src="__PUBLIC__/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/js.cookie.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN THEME GLOBAL SCRIPTS -->
<script src="__PUBLIC__/global/scripts/app.min.js" type="text/javascript"></script>
<!-- END THEME GLOBAL SCRIPTS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="__PUBLIC__/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="__PUBLIC__/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootbox/bootbox.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL SCRIPTS -->
{switch name=$active}
{case value="shoplist"}
<script src="__PUBLIC__/global/scripts/shop-datatable.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/manage-products.js" type="text/javascript"></script>
<!--管家列表-->
{/case}

{case value="courselist"}
<script src="__PUBLIC__/pages/scripts/bootstrap-fileinput.js" type="text/javascript"></script>
<!--课程编辑-->
<script src="__PUBLIC__/pages/scripts/data-products.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/table-datatables-editable.js"></script>
<script src="__PUBLIC__/pages/scripts/jquery-ui.min.js"></script>
<script src="__PUBLIC__/pages/scripts/ui-modals.min.js"></script>
<script src="__PUBLIC__/global/scripts/datatable.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript"></script>
{/case}
{case value="pluginlist"}
<script src="__PUBLIC__/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/portfolio-1.js" type="text/javascript"></script>
<!--文章列表-->
{/case}
{case value="userlist"}
<script src="__PUBLIC__/pages/scripts/table-datatables-editable.js"></script>
<script src="__PUBLIC__/pages/scripts/jquery-ui.min.js"></script>
<script src="__PUBLIC__/pages/scripts/ui-modals.min.js"></script>
{/case}



{case value="custlist"}
<script src="__PUBLIC__/pages/scripts/table-datatables-editable.js"></script>
<script src="__PUBLIC__/pages/scripts/jquery-ui.min.js"></script>
<script src="__PUBLIC__/pages/scripts/ui-modals.min.js"></script>
{/case}

{case value="beandetail"}
<script src="__PUBLIC__/pages/scripts/table-datatables-editable.js"></script>
<script src="__PUBLIC__/pages/scripts/jquery-ui.min.js"></script>
<script src="__PUBLIC__/pages/scripts/ui-modals.min.js"></script>
{/case}

{case value="applybean"}
<script src="__PUBLIC__/pages/scripts/table-datatables-editable.js"></script>
<script src="__PUBLIC__/pages/scripts/jquery-ui.min.js"></script>
<script src="__PUBLIC__/pages/scripts/ui-modals.min.js"></script>
{/case}



<!-- 帮我带物品 -->
{case value="prolistlist"}
<script src="__PUBLIC__/global/scripts/pro-datatable.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/pro-products.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/portfolio-1.js" type="text/javascript"></script>
{/case}

<!-- 帮我带订单 -->
{case value="orderlist"}
<script src="__PUBLIC__/global/scripts/ord-datatable.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/ord-products.js" type="text/javascript"></script>
<script src="__PUBLIC__/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/portfolio-1.js" type="text/javascript"></script>
{/case}

<!-- 新增 -->
{case value="orderlist"}
<script src="__PUBLIC__/global/scripts/order-datatable.js" type="text/javascript"></script>
<script src="__PUBLIC__/pages/scripts/manage-order.js" type="text/javascript"></script>
{/case}

{/switch}

<!-- END PAGE LEVEL SCRIPTS -->


<!-- BEGIN THEME LAYOUT SCRIPTS -->
<script src="__PUBLIC__/layouts/layout6/scripts/layout.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
<script src="__PUBLIC__/common.js" type="text/javascript"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script>
    $(document).ready(function () {
        $('#clickmewow').click(function () {
            $('#radio1003').attr('checked', 'checked');
        });
    })
    $("#sureLoginOut").click(function () {
        $.ajax({
            type: "POST",
            url: "{:url('admin/login/logout')}",
            success: function (msg) {
                location.reload();
            }
        })
    })
</script>
</body>

</html>