<div class="page-sidebar-wrapper">

    <div class="page-sidebar navbar-collapse collapse">

        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true"
            data-slide-speed="200">

            <li class="heading">
                <h3 class="uppercase">用户管理</h3>
            </li>

            <li class="nav-item  <?php if( $active == 'userlist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/user_list')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">管理员列表</span>
                </a>
            </li>

            <li class="nav-item  <?php if( $active == 'custlist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/cust_list')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">用户列表</span>
                </a>
            </li>

            <!-- 产品部分 -->
            <!-- 帮我带 -->
            <li class="heading">
                <h3 class="uppercase">帮我带管理</h3>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">美食&饮品</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>1])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">打车出行</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>2])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">寄取快递</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>3])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">超市代购</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>4])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">书店&书馆</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>5])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">旅行代购</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>6])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">化妆护肤</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>7])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">转账存取</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>8])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">帮我办事</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/prolist',['type'=>9])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">其它代购</span>
                </a>
            </li>

            <!-- 帮你带 -->
            <li class="heading">
                <h3 class="uppercase">帮你带管理</h3>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">美食&饮品</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>1])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">打车出行</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>2])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">寄取快递</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>3])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">超市代购</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>4])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">书店&书馆</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>5])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">旅行代购</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>6])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">化妆护肤</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>7])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">转账存取</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>8])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">租赁需求</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'orderslist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/uprolist',['type'=>9])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">其它代购</span>
                </a>
            </li>

            <!-- 订单部分 -->
            <li class="heading">
                <h3 class="uppercase">订单管理</h3>
            </li>

            <li class="nav-item  <?php if( $active == 'userlist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/orderlist',['type'=>1])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">帮我带订单</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'userlist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/orderlist',['type'=>2])}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">帮你带订单</span>
                </a>
            </li>


            <!-- 系统设置 -->
            <li class="heading">
                <h3 class="uppercase">系统设置管理</h3>
            </li>
            <li class="nav-item  <?php if( $active == 'photo' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/photo')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">Banner设置</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'tuangoulist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/bean')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">福豆设置</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'tuangoulist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/beandetail')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">用户福豆详情</span>
                </a>
            </li>
            <li class="nav-item  <?php if( $active == 'tuangoulist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/applybean')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">用户福豆提现申请</span>
                </a>
            </li>
            <!--  <li class="nav-item  <?php if( $active == 'tuangoulist' ){ echo 'active'; } ?> ">
                <a href="{:url('/a/settag')}" class="nav-link nav-toggle">
                    <i class="icon-list"></i>
                    <span class="title">标签设置</span>
                </a>
            </li> -->



        </ul>
    </div>
</div>