<!-- BEGIN HEADER -->
<header class="page-header">
    <nav class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="havbar-header">
                <!-- BEGIN LOGO -->
                <a id="index" class="navbar-brand font-white" href="{:url('admin/index/index')}" >
                    <!--<img src="{$logo}" alt="Logo">-->
                    互帮&互带后台管理系统
                </a>
                <!-- END LOGO -->
                <!-- BEGIN TOPBAR ACTIONS -->
                <div class="topbar-actions">
                    <!-- BEGIN USER PROFILE -->
                    <div class="btn-group-img btn-group">
                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown"
                                data-hover="dropdown" data-close-others="true">
                            <span style="color: #ffffff;margin-right: 30px;font-size: 16px;">您好，{$Think.session.realname}</span>
                        </button>
                        <ul class="dropdown-menu-v2" role="menu">
                            <li>
                                <a href="#mySelf" data-toggle="modal"><i class="icon-user"></i> 我的信息 </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#tipLoginOut" data-toggle="modal"><i class="icon-key"></i> 退出登录 </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END USER PROFILE -->
                </div>
                <div id="tipLoginOut" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">登出提示</h4>
                            </div>
                            <div class="modal-body">
                                <p>确定退出登录吗？</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">取消</button>
                                <a herf="" data-dismiss="modal" class="btn green" id="sureLoginOut">确定</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="mySelf" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">-->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">我的信息</h4>
                            </div>
                            <div class="modal-body">
                                <div class="modal-body">
                                    <p>完善中...</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END TOPBAR ACTIONS -->
            </div>
        </div>
        <!--/container-->
    </nav>
</header>
<!-- END HEADER -->