{include file="public/header" /}
</head>
<!-- END HEAD -->
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="{:url('admin/index/index')}">控制面板</a></li>
                <li>会员福豆提现申请</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->
        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: Demo Datatable 1 -->
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red">会员福豆提现申请</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                            </div>
                            <table style="margin-top: 10px;" class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="2%"> 编号</th>
                                        <th width="5%"> 用户名</th>
                                        <th width="5%"> 可用福豆数</th>
                                        <th width="5%">金额</th>
                                        <th width="5%">手续费</th>
                                        <th width="3%"> 审核状态</th>
                                        <th width="3%"> 最近操作时间</th>
                                        <th width="8%"> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $list as $k=>$v}
                                    <tr role="row" class="heading" id="remove{$v.id}">
                                        <th width="2%">{$k+1}</th>
                                        <th width="5%"> {$v.nickname}</th>
                                        <th width="5%"> {$v.w_bean}</th>
                                        <th width="5%">{$v.w_money}</th>
                                        <th width="5%">{$v.w_charge}</th>
                                        <th width="3%"> {$v.bean_type}</th>
                                        <th width="3%">{$v.createtime}</th>
                                        <th width="8%">
                                            <a {if($v.bean_type=='审核中' )}class="btn green btn-outline sbold" {else
                                                /}class="btn red btn-outline sbold disabled"{/if} data-toggle="modal"
                                                href="#confirm" data="{$v.id}" name="upuser" type="del">
                                                <i class="fa fa-pencil"></i>{$v.bean_type}
                                            </a>
                                        </th>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public/copyright" /}
</div>
</div>

<!-- 升级用户 -->
<div id="confirm" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p>你确定通过该申请吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green btn-outline sbold">取消</button>
                <button type="button" data-dismiss="modal" class="btn red btn-outline sbold" id="sureDel">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除用户 -->
<div id="confirm1" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p>你确定删除该用户吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green btn-outline sbold">取消</button>
                <button type="button" data-dismiss="modal" class="btn red btn-outline sbold" id="sureDel1">确定</button>
            </div>
        </div>
    </div>
</div>




<div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p id="tip_info"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="sure">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除 -->

{include file="public/footer" /}

<script type="text/javascript">
    //审核用户
    $('a[name=upuser]').click(function () {
        var tid = $(this).attr('data');
        // alert(tid);return;
        $('#sureDel').attr('data', tid);
        $('#sureDel').click(function () {
            var id = $(this).attr('data');
            // alert(id);return ;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{:url('admin/system/upuser')}",//升级用户
                data: { 'id': id },
                success: function (msg) {
                    // alert(msg);return;
                    if (msg.code == 200) {
                        $('#tip').modal('show');
                        $("#sure").click(function () {
                            $('a[name=upuser]').text('已通过');
                        })
                        window.location.reload();
                    } else {
                        if (msg.code == 400) {
                            $("#tip_info").html(msg.msg);
                            $('#tip').modal('show');
                        } else {
                            $("#tip_info").html("未知错误");
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                                window.location.reload();
                            })
                        }
                    }
                },
                error: function (err) {
                }
            });
        });
    })

</script>