{include file="public/header" /}

</head>
<!-- END HEAD -->

<body class="">
    {include file="public/topbar" /}
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="page-content-fixed-header">
                <!-- BEGIN BREADCRUMBS -->
                <ul class="page-breadcrumb">
                    <li><a href="#">控制面板</a></li>
                    <li>福豆设置</li>
                </ul>
                <!-- END BREADCRUMBS -->
            </div>
            <!--左侧菜单-->
            {include file="public/sidenav" /}
            <!--man content begin-->

            <div class="page-fixed-main-content">
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-settings font-red"></i>
                                    <span class="caption-subject font-red">编辑福豆兑换价格</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form action="#" class="form-horizontal form-bordered">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="control-label col-md-1">福豆兑换价格：</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="bean" value="{$bean.meta_value}"
                                                    id="bean" placeholder="请输入兑换价格" />
                                            </div>

                                        </div>
                                        <div>

                                            <span class="font-red  help-block" style="margin-top: -14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                提示:*当前1福豆={$bean.meta_value}元</span>
                                        </div>

                                        <div class="form-group" style="margin-top: 40px;">
                                            <label class="control-label col-md-1">服务费 :</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="service" value="{$service.meta_value}"
                                                    id="service" placeholder="请输入服务费" />
                                            </div>

                                        </div>
                                        <div>

                                            <span class="font-red  help-block" style="margin-top: -14px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                提示:*平台收取{$service.meta_value}元</span>
                                        </div>
                                        <input type="hidden" value="{$bean.id}" id="uid">
                                        <input type="hidden" value="{$service.id}" id="sid">

                                    </div>
                                    <div class="form-actions" style="margin-top: 45px;">
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-1">
                                                <a href="javascript:;" class="btn green" id="submit">
                                                    <i class="fa fa-check"></i> 提交</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--man content end-->
                {include file="public/copyright" /}
            </div>
        </div>
    </div>
    <div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">
                    <p id="tip_info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
                </div>
            </div>
        </div>
    </div>
    {include file="public/footer" /}
    <script>
        $('#submit').click(function () {
            var bean = $('#bean').val();
            var id = $('#uid').val();
            var service = $('#service').val();
            var sid = $('#sid').val();
            {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{:url('admin/System/bean')}",
                    data: { 'bean': bean, 'id': id, 'service': service, 'sid': sid },
                    success: function (msg) {
                        if (msg == 1) {
                            $('#tip_info').html('操作成功!');
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                                window.location.reload();
                            })
                        } else {
                            $('#tip_info').html("您有未填项!");
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                                window.location.reload();
                            })

                        }
                    },
                    complete: function () {
                    }
                })
            }
        })
    </script>