{include file="public/header" /}

</head>
<!-- END HEAD -->

<body class="">
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="#">控制面板</a></li>
                <li>Banner设置</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->

        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red">添加&编辑Banner</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form action="" class="form-horizontal form-bordered" id="submitGymMsg">
                                <div class="form-body">

                                    <div class="form-group" id="upload">
                                        <label class="control-label col-md-3">图片上传:</label>
                                        <div class="col-md-9">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <div class="fileinput-preview thumbnail pic" data-trigger="fileinput"
                                                     style="width: 200px; height: 150px;">
                                                     <img src="{$pic.pic1}"/>
                                                </div>
                                                 <!-- <span class="font-red sbold help-block">上传的图片必须:高为:190px;宽为:690px</span> -->
                                                <div>
                                <span class="btn red btn-outline btn-file">
                                <span class="fileinput-new"> 选择图片 </span>
                                <span class="fileinput-exists"> 更换图片 </span>
                                <input type="file" name="pic"> </span>
                                                    <a href="javascript:;" class="btn red fileinput-exists"
                                                       data-dismiss="fileinput"> 移除图片 </a>
                                                </div>
                                            </div>

                                        </div>
                                        <input type="hidden" value="{$pic.id}" id="uid"/>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <a href="javascript:;" class="btn green" id="submit" class="btnok">
                                                <i class="fa fa-check"></i> 提交</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--man content end-->
            {include file="public/copyright" /}
        </div>
    </div>
</div>
<div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p id="tip_info"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script>
    $('#submit').click(function(){
             var pic = $('div.pic img').attr('src');
             var id   = $('#uid').val();
            {
                $.ajax({
                    type:"POST",
                    dataType: "json",
                    url:"{:url('admin/System/photo')}",
                    data:{'pic':pic,'id':id},
                    success:function(msg){
                        if( msg == 1 )
                        {
                            $('#tip_info').html('操作成功!');
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                            window.location.reload();
                        })
                        }else{
                            $('#tip_info').html("没有图片上传!");
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                            window.location.reload();
                        })
    
                        }
                    },
                    complete:function(){
                    }
                })
            }
        })
        </script>