{include file="public/header" /}

</head>
<!-- END HEAD -->

<body class="">
    {include file="public/topbar" /}
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="page-content-fixed-header">
                <!-- BEGIN BREADCRUMBS -->
                <ul class="page-breadcrumb">
                    <li><a href="#">控制面板</a></li>
                    <li>标签设置</li>
                </ul>
                <!-- END BREADCRUMBS -->
            </div>
            <!--左侧菜单-->
            {include file="public/sidenav" /}
            <!--man content begin-->

            <div class="page-fixed-main-content">
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-settings font-red"></i>
                                    <span class="caption-subject font-red">标签设置</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <form action="#" class="form-horizontal form-bordered" id="SaveTagSetForm">
                                    <div class="form-body">

                                        <div class="form-group" style="margin-top: 35px;">
                                            <label class="control-label col-md-1">添加商家:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="shop" id="shop"
                                                    placeholder="添加口味" value="{$shop['meta_value']}" />
                                            </div>

                                        </div>
                                        <div style="margin-top: -14px;">
                                            <span class="font-red  help-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                提示:*多个商家用','分隔</span>
                                        </div>


                                        <div class="form-group" style="margin-top: 35px;">
                                            <label class="control-label col-md-1">添加口味:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" id="kowei" name="kowei"
                                                    placeholder="添加口味" value="{$kowei['meta_value']}" />
                                            </div>

                                        </div>
                                        <div style="margin-top: -14px;">
                                            <span class="font-red  help-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                提示:*多个口味用','分隔</span>
                                        </div>

                                        <div class="form-group" style="margin-top: 35px;">
                                            <label class="control-label col-md-1">添加名称:</label>
                                            <div class="col-md-4">
                                                <input type="proname" class="form-control" name="proname" id="service"
                                                    placeholder="添加名称" value="{$proname['meta_value']}" />
                                            </div>

                                        </div>
                                        <div style="margin-top: -14px;">
                                            <span class="font-red  help-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                提示:*多个名称用','分隔</span>
                                        </div>
                                        <input type="hidden" name="kid" value="{$shop.id}" id="kid">
                                        <input type="hidden" name="pid" value="{$proname.id}" id="pid">
                                        <input type="hidden" name="sid" value="{$kowei.id}" id="sid">

                                    </div>
                                    <div class="form-actions" style="margin-top: 40px;">
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-1">
                                                <a href="javascript:;" class="btn green" id="submit">
                                                    <i class="fa fa-check"></i> 提交</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--man content end-->
                {include file="public/copyright" /}
            </div>
        </div>
    </div>
    <div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">
                    <p id="tip_info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
                </div>
            </div>
        </div>
    </div>
    {include file="public/footer" /}
    <script>
        $('#submit').click(function () {

            var data = $('#SaveTagSetForm').serialize();
            console.log(data);

            {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{:url('admin/System/settag')}",
                    data: data,
                    success: function (msg) {
                        if (msg == 1) {
                            $('#tip_info').html('添加成功!');
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                                window.location.reload();
                            })
                        } else {
                            $('#tip_info').html("您有未填项!");
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                                window.location.reload();
                            })

                        }
                    },
                    complete: function () {}
                })
            }
        })
    </script>