{include file="public/header" /}
</head>
<style>
    .btn{
        font-size: 12px;
    }
</style>
<!-- END HEAD -->
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li>商家列表</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->
        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: Demo Datatable 1 -->
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-shopping-cart"></i>商家列表
                            </div>
                        </div>


                        <div class="portlet-body">
                            <input type="hidden" value="{:url('admin/shoplist/list_shop')}" name="ajaxUrl" id="ajaxUrl">
                            <input type="hidden" value="{:url('admin/shoplist/action_shop')}" name="ajaxUrl" id="ajaxUrlAction">
                            <div class="table-container">
                                <div class="table-actions-wrapper">
                                    <span></span>
                                    <select class="table-group-action-input form-control input-inline input-small input-sm" name="gaction">
                                        <option value=""> -- 批量操作 -- </option>
                                        <option value="del">删除</option>
                                        <option value="doexport">导出</option>
                                        <!-- <option value="ruexport">导入</option> -->
                                    </select>
                                    <button class="btn btn-sm btn-success table-group-action-submit">
                                        <i class="fa fa-check"></i> 提交</button>
                                </div>


                                <div class= "portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-gift"></i>高级搜索</div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="note note-info red">
                                            <p>可选择一个或多个搜索</p>
                                        </div>
                                        <table class="table table-striped" id="productfilter" style="margin-top: 20px;">
                                            <tbody>

                                            <tr role="row" class="filter margin-bottom-10" >
                                                <td>
                                                   <input placeholder="请输入店铺名称" class="form-control form-filter input-sm" name="shopname">
                                               </td>

                                                <td>
                                                   <input placeholder="请输入联盟ID" class="form-control form-filter input-sm" name="unionid">
                                               </td>
                                            </tr>
                                            <!-- 新增部分 -->
                                            <tr role="row" class="filter margin-bottom-10" >
                                                <td>
                                                   <input placeholder="请输入手机号" class="form-control form-filter input-sm" name="phone">
                                                </td>
                                                <td>
                                                    <select name="region" class="form-control form-filter input-sm">
                                                        <option value="all">--区域搜索--</option>
                                                        <option value="华北">华北</option>
                                                        <option value="华东">华东</option>
                                                        <option value="华南">华南</option>
                                                        <option value="华中">华中</option>
                                                        <option value="东北">东北</option>
                                                        <option value="西南">西南</option>
                                                        <option value="西北">西北</option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <!-- 新增部分 -->
                                            <tr align="center">
                                                <td colspan="3" align="center">
                                                    <div style="margin-top: 20px;">
                                                        <button class="btn btn-sm btn-success filter-submit margin-bottom">
                                                            <i class="fa fa-search"></i> 开始搜索</button>
                                                        <!--<button class="btn btn-sm btn-default filter-cancel">-->
                                                        <!--<i class="fa fa-times"></i> 重置</button>-->
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>

                                <div class="btn-group">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="input-group input-small">
                                                <div class="form-control uneditable-input input-fixed input-mini" data-trigger="fileinput">
                                                    <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                                    <span class="fileinput-filename">必须 .xlsx 格式的文件 </span>
                                                </div>
                                                <span class="input-group-addon btn default btn-file">
                                                <span class="fileinput-new">导入数据</span>
                                                <span class="fileinput-exists">更改</span>
                                                <!-- 导入商品 -->
                                                <input type="file" name="imfile" id="imfile" accept=".xlsx"> </span>
                                                <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> 移除 </a>
                                            </div>
                                        </div>
                                    </div>
                                    <button style="height: 34px; margin-top: -5px;" class="btn btn-sm btn-success uploadfile"><i class="fa fa-check btnok"></i> 提交</button>



                                <table class="tablelist table-striped table-bordered table-hover table-checkable" id="datatable_products">
                                    <thead>
                                    <tr role="row" class="heading">
                                        <th width="1%">
                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
                                                <span></span>
                                            </label>
                                        </th>
                                        <th width="5%"> 商家UID </th>
                                        <th width="5%"> 店铺名称 </th>
                                        <th width="5%"> 所属区域 </th>
                                        <th width="5%"> 联系方式 </th>
                                        <th width="5%"> 联盟ID </th>
                                        <th width="5%"> 店铺人群 </th>
                                        <th width="5%"> 店铺位置 </th>
                                        <th width="5%"> 配合程度 </th>
                                        <th width="5%"> 社群个数 </th>
                                        <th width="5%"> 创建时间 </th>
                                        <th width="5%"> 操作 </th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
        </div>
    </div>
    {include file="public/copyright" /}
</div>
</div>


<div class="modal fade" id="ajax" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading... </span>
            </div>
        </div>
    </div>
</div>

<div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p id="tip_info"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">确定</button>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

<!-- 導入操作 -->
<script type="text/javascript">

    $(document).ready(function () {

        //上传商品
        $('.uploadfile').click(function(){
            // alert('ddk的方式風格的d');return;
            var form_data = new FormData();
            var file_data = $("#imfile").prop("files")[0];
            form_data.append("imfile", file_data);
            bootbox.confirm("您确定要导入该文件吗？", function(result) {
                if (result){

                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        url: "{:url('admin/Shoplist/import_shoplist')}",
                        data: form_data,
                        processData: false,
                        contentType: false,
                        beforeSend:function(XMLHttpRequest){
                            App.startPageLoading({message: '正在处理中....'});
                            return true;
                        },
                        success: function(data){
                            // alert(data);return;
                            App.stopPageLoading();
                            console.log(data);
                            // if (data.code == 200) {
                            //     console.log("---------------------");
                            //     console.log(data);
                            //     alert(data.msg);
                            window.location.reload();
                            // }else{
                            //     alert(data.msg);
                            //     console.log("+++++++++++++");
                            //     window.location.reload();
                            // }
                        },
                        error: function (err) {
                            App.stopPageLoading();
                            alert("异常操作");
                        }
                    });
                }
            });
        })


        $('.prorefresh').click(function () {
            bootbox.confirm("该操作将会对目前已存在的商品进行查重操作，由于更新时间较久，请选择合适时间进行操作，避免影响线上用户！", function(result) {
                if(result){
                    var updateCat = $('#updateCat').serialize();
                    $('#reCat').modal('show');
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "{:url('admin/product/refresh_product')}",
                        data: updateCat,
                        beforeSend:function(XMLHttpRequest){
                            App.startPageLoading({ message: '正在计算处理中...' });
                            return true;
                        },
                        success: function (msg) {
                            if(msg.code == 200){
                                $('#reCat').modal('hide');
                                App.stopPageLoading();
                                alert('共清除重复商品'+msg.v+'条');

                            }else if(msg.code == 400){
                                App.stopPageLoading();
                                alert("无重复商品");
                            }
                        },
                        error: function (err) {
                            App.stopPageLoading();
                            alert("异常操作");
                        }
                    });
                }
            });
        })


        $('.clearData').click(function () {
            bootbox.confirm("您确定要清除该分类下的商品吗？", function(result) {
                if(result){
                    $('#clearCat').modal('show');
                    var cleardata = $('#clearCat1').serialize();
                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "{:url('admin/product/delete_product')}",
                        data: cleardata,
                        beforeSend:function(XMLHttpRequest){
                            App.startPageLoading({message: '正在处理中....'});
                            return true;
                        },
                        success: function (msg) {
                            console.log(msg);
                            if(msg.code == 200){
                                setTimeout(function () {
                                    $('#clearCat').modal('hide');
                                    App.stopPageLoading();
                                },1500);
                            }else if(msg.code == 400){
                                App.stopPageLoading();
                                alert("已删除");
                            }
                        },
                        error: function (err) {
                            App.stopPageLoading();
                            alert("异常操作");
                        }
                    });
                }
            });
        })

    })

    function addCatMsg() {

        if ($('#proNum').val() == "") {
            $("#tip_info").html("请输入检索页数");
            $('#tip').modal('show');
            return;
        }

        bootbox.confirm("您确定要在该分类下添加商品吗?", function(result) {
           if(result){
               var data = $('#addCat').serialize();
               console.log(data);
               $.ajax({
                   type: "POST",
                   dataType: "json",
                   url: "{:url('admin/product/add_product')}",
                   data: data,
                   beforeSend:function(XMLHttpRequest){
                       $('.alert-danger').show();
                       $('.btn-close').attr('disabled',true);
                       $('.btn-sure').button('loading');
                       return true;
                   },
                   success: function (msg) {
                       //alert(msg); return false;
                       if (msg.code == 200) {
                           console.log("---------------------");
                           console.log(msg);
                           $('.countpage').show().html(1);
                           $('#limit').attr('value',msg.v)
                           load_data();
                       }else{
                           $('.alert-danger').hide();
                           $('.btn-sure').button('reset');
                           $('.btn-close').attr('disabled',false);
                           console.log("+++++++++++++");
                       }
                   },
                   error: function (err) {
                       console.log(err);
                       $('.alert-danger').hide();
                       $('.btn-sure').button('reset');
                       $('.btn-close').attr('disabled',false);
                       alert("异常操作-3001");
                   }
               });
           }
        });
    }


    //商家自主提报

    function addProduct() {

        bootbox.confirm("您确定要在该分类下添加商品吗?", function(result) {
            if(result){
                var data = $('#addproCat').serialize();
                console.log(data);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "{:url('admin/product/add_custom_product')}",
                    data: data,
                    beforeSend:function(XMLHttpRequest){
                        $('.alert-danger').show();
                        $('.btn-close').attr('disabled',true);
                        $('.btn-sure').button('loading');
                        return true;
                    },
                    success: function (data) {
                        console.log(data);
                        //alert(data);
                        //return false;
                        if (data.code == 200) {
                            alert(data.msg);
                            $('#addProduct').modal('hide');
                            window.location.reload();
                        }else{
                            alert(data.msg);
                            $('.alert-danger').hide();
                            $('.btn-sure').button('reset');
                            $('.btn-close').attr('disabled',false);
                        }
                    },
                    error: function (err) {
                        console.log(err);
                        $('.alert-danger').hide();
                        $('.btn-sure').button('reset');
                        $('.btn-close').attr('disabled',false);
                        alert("异常操作-3001");
                    }
                });
            }
        });
    }



    //异步分批插入数据处理
    // function load_data(){
    //     var data = $('#addCat').serialize();
    //     $.ajax({
    //         url: "{:url('admin/product/add_product')}",
    //         type:'POST',
    //         dataType: "json",
    //         data: data,
    //         success: function(d){
    //
    //             if( d.v > 0 && d.status != 'done'  ){
    //                 console.log( d.c+ "继续执行"+d.v );
    //                 console.log( d.status );
    //                 $('.countpage').show().html(d.v+'---'+d.status);
    //                 $('#limit').attr('value',d.v)
    //                 load_data();
    //             }else{
    //                 console.log("done");//aaaa
    //                 $('.countpage').html('结束');
    //                 $("#tip_info").html("添加完成！");
    //                 $('#tip').modal('show');
    //                 $("#sure").click(function () {
    //                     window.location.reload();
    //                 })
    //             }
    //             return false;
    //         }
    //     });
    // }


    function load_data(){
        var data = $('#addCat').serialize();
        $.ajax({
            url: "{:url('admin/product/add_product')}",
            type:'POST',
            dataType: "json",
            data: data,
            success: function(d){
                if( d.v > 0 && d.c > d.v  ){
                    console.log( d.c+ "继续执行"+d.v );
                    console.log( d.s );
                    $('.countpage').show().html(d.v);
                    $('#limit').attr('value',d.v)
                    load_data();
                }else{
                    console.log("done");
                    $('.countpage').html('结束');
                    $("#tip_info").html("添加完成！");
                    $('#tip').modal('show');
                    $("#sure").click(function () {
                        window.location.reload();
                    })
                }
                return false;
            }
        });
    }
</script>

