{include file="public/header" /}

</head>
<!-- END HEAD -->

<body class="">
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="{:url('admin/index/index')}">控制面板</a></li>
                <li>查看详情</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->

        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">查看详情</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form action="#" class="form-horizontal form-bordered">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="control-label col-md-1" >个人姓名:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="username" value="{$shopinfo.username}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">店铺名称：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="shopname" value="{$shopinfo.shopname}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">友家铺子店名：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="yjname" value="{$shopinfo.yjname}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">性别：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="gender" value="{$shopinfo.gender}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">联系方式:</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="phone" value="{$shopinfo.phone}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">店铺人群：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="shopers" value="{$shopinfo.shopers}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">附近设备：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="shopers" value="{$shopinfo.nearmec}"/>
                                        </div>
                                    </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-1">联盟ID:</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="unionid" value="{$shopinfo.unionid}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">店铺位置：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="shopers" value="{$shopinfo.location}"/>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-1">所属区域：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="shopers" value="{$shopinfo.region}"/>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-1">店铺来访人数:</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="shopers" value="{$shopinfo.vistors}"/>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-1">参团数:</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="shopers" value="{$shopinfo.groups}"/>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-1">粉丝数:</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="shopers" value="{$shopinfo.fans}"/>
                                        </div>
                                    </div>

                                     <div class="form-group">
                                        <label class="control-label col-md-1">性格优势：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="g_nature" value="{$shopinfo.g_nature}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">性格劣势：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="b_nature" value="{$shopinfo.b_nature}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">经营时间：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="shoptime" value="{$shopinfo.shoptime}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">配合程度：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="helper" value="{$shopinfo.helper}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">社群人数：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="peoples" value="{$shopinfo.peoples}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">社群个数：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="p_nums" value="{$shopinfo.p_nums}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">创建时间:</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="createTime" value="{$shopinfo.createTime}"/>
                                        </div>
                                    </div>

                                <input type="hidden" name="sid" id="sid" value="{$shopinfo.id}">
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-1">
                                            <a href="javascript:;" class="btn green hide" id="submit">
                                                <i class="fa fa-check"></i> 提交</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--man content end-->

            {include file="public/copyright" /}
        </div>
    </div>

    <div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">
                    <p id="tip_info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">取消</button>
                    <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
                </div>
            </div>
        </div>
    </div>

    {include file="public/footer" /}

    <script>
    /*$('#submit').click(function(){
        var sid      = $("#sid").val();
        var title    = $("input[name='title']").val();
        if( title )
        {
            $.ajax({
                type:"POST",
                url:"{:url('admin/shoplist/updateshop')}",
                data:{'title':title,'sid':sid},
                success:function(msg){
                    if(msg==1)
                    {
                        alert('更新成功！')
                    }else{
                        alert('更新失败！')
                    }
                },
                complete:function(){
                }
            })
        }else{
            $('#tip_info').html("内容不得为空!");
            $('#tip').modal('show');
            return false;
        }
    })*/
    </script>