{include file="public/p_header" /}
<div class="container">
    <form method="post" class="form-signin" id="changepswForm" action="">
        <div class="form-signin-heading text-center">
            <h3 style="margin: 0 auto; color: #333; padding-bottom: 0;">更改密码</h3>
            <!--<img src="../../__STATIC__/images/login-logo.png" alt=""/>-->
        </div>
        <div class="login-wrap">
            <div class="alert alert-danger" style="display: none;"><b>提示：</b></div>
            <div class="alert alert-success" style="display: none;"><b>提示：</b></div>
            <input value="{$emailadress}" name="email" id="email" type="text" class="form-control" readonly>
            <input autocomplete="off" name="username" id="username" type="text" class="form-control" placeholder="登录名" autofocus>
            <input autocomplete="off" name="psw" id="psw" type="password" class="form-control" placeholder="新密码">
            <input autocomplete="off" name="repsw" id="repsw" type="password" class="form-control" placeholder="确认新密码">
            <div class="form-group captcha" id="captchainfo">
                <div class="captcha-input col-lg-7 col-sm-7">
                    <input autocomplete="off" type="text" name="captcha" id="captcha" class="form-control" placeholder="验证码">
                </div>
                <label class="control-label col-lg-5 col-sm-5" for="captcha">
                    <img onclick="javascript:reCaptcha();" class="imgcaptcha" src="{:captcha_src()}" alt="captcha" />
                </label>
            </div>
            <input value="{$changetime}" name="changetime" id="changetime" type="hidden" >
            <button autocomplete="off" id="loginsubmit" class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
                <i class="fa fa-cog fa-spin fa-1x fa-fw" style="display: none;"></i>
            </button>
        </div>
    </form>
</div>

<script src="../../__STATIC__/js/jquery-1.10.2.min.js"></script>
<script src="../../__STATIC__/js/bootstrap.min.js"></script>
<script src="../../__STATIC__/js/modernizr.min.js"></script>
<script src="../../__STATIC__/js/jquery.validate.min.js"></script>
<script src="../../__STATIC__/js/jquery.form.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ajaxurl = '{:url("/admin/p/dochangepassword")}';
        var checkul = '{:url("/admin/p/check")}';
        $("#changepswForm").validate({
            rules: {
                username:{
                    required: true
                },
                psw:{ 
                    required: true
                },
                repsw:{
                    required: true,
                    equalTo: "#psw"
                },
                captcha:{
                    required: true,
                    remote:{
                        url: checkul,
                        data: {
                            captcha: function() {
                                return $( "#captcha" ).val();
                            }
                        }
                    }
                }
            },
             messages: {
                 username:{
                    required: "请输入用户名"
                 },
                 psw:{
                     required: "请输入新密码"
                 },
                 repsw:{
                     required: "请确认新密码",
                     equalTo: "密码不匹配"
                 },
                 captcha:{
                    required: "请输入验证码",
                    remote:"验证码错误"
                 }
            },
            errorElement : 'div',
            errorLabelContainer: '.alert-danger',
            submitHandler:function(form){
               $('#changepswForm').ajaxSubmit(options);
            }
        });

        var options = {
            beforeSubmit:  showRequest,
            success:       showResponse,
            url:       ajaxurl,
            // clearForm: true,
            // resetForm: true   
        };
        // pre-submit callback 
        function showRequest(formData, jqForm, options) { 
            $('.fa-check').hide();
            $('.fa-spin').fadeIn('fast');
            $('.btn-login').attr('disabled',true);
            return true; 
        }
        // post-submit callback 
        function showResponse(responseText, statusText, xhr, $form)  {
            //alert(responseText);
            if(responseText == 1){
                setTimeout(function(){
                    $('.alert-success').show().html('<b>提示：<b/>密码更新成功，正在为您跳转....');
                    window.location.href = '{:url("/admin")}';
                },2000);

            }else{
                $('.alert-danger').show().html('<b>提示：<b/>'+responseText+'');
                setTimeout(function(){
                    $('.btn-login').attr('disabled',false);
                    $('.fa-spin').hide();
                    $('.fa-check').fadeIn('slow');
                    $('.alert-danger').fadeOut().html('<b>提示：<b/>');
                },1500);
            }
            return false;
        }
    })
    function reCaptcha(){
        var captchaurl = '{:url("/captcha/id/'+Math.random()+'")}';
        $(".imgcaptcha").attr("src",captchaurl);
        $("#captcha").focus(); 
    }
</script>
{include file="public/p_footer" /}