{include file="public/header" /}

<!-- BEGIN PAGE LEVEL PLUGINS -->
<link href="../assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css"/>
<link href="../assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL PLUGINS -->

<!-- BEGIN PAGE LEVEL STYLES -->
<link href="../assets/pages/css/login-2.min.css" rel="stylesheet" type="text/css"/>
<!-- END PAGE LEVEL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<!-- END THEME LAYOUT STYLES -->

<!-- END HEAD -->
</head>
<body class=" login">
<!-- BEGIN LOGO -->
<div class="logo">
    <!--<img src="../assets/pages/img/logo-big-white.png" style="height: 17px;" alt=""/>-->
</div>
<!-- END LOGO -->

<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN LOGIN FORM -->
    <div class="form-title" style="text-align: center">
        <span class="form-title" style="font-size: 24px;">欢迎进入后台管理系统</span>
        <!--<span class="form-subtitle">Please login.</span>-->
    </div>

        <div id="tiphtml" class="alert alert-success display-hide"></div>

        <div id="tiphtml2" class="alert alert-danger display-hide"></div>

    <form class="login-form" action="" method="post" id="loginForm"> <!--{:url('admin/Login/checkLogin')}-->
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">用户名</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off"
                   placeholder="请输入用户名" name="account"/>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">密码</label>
            <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off"
                   placeholder="请输入密码" name="password"/>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">验证码</label>
            <input type="text" style="width:150px;display:inline;" id="verifycode" name="verifyCode"
                   class="form-control form-control-solid placeholder-no-fix" placeholder="请输入验证码"><img
                style="display:inline;margin-top: -3px;margin-left:30px;cursor:pointer" src="{:captcha_src()}" id="captcha"
                alt="captcha"
                onclick="javascript:this.src='{:captcha_src()}?rand='+Math.random()">
        </div>
        <div class="form-actions">
            <button type="submit" class="btn red btn-block uppercase" id="submit">登录</button>
        </div>
    </form>
</div>


<div class="copyright "> 2018 © KDCMS. <a target="_blank" href="http://www.kissneck.com">可待科技提供技术支持</a></div>
{include file="public/loginfooter" /}
<script src="../assets/pages/scripts/login.js" type="text/javascript"></script>
<script>
    $('#submit').click(function () {
        var account = $(" input[ name='account' ] ").val();
        var password = $(" input[ name='password' ] ").val();
        var verifyCode = $(" input[ name='verifyCode' ] ").val();
        if (account == "" || password == "" || verifyCode == "") {
            $('#tiphtml2').show().html("账号密码和验证码均不能为空!");
            return;
        }
        $.ajax({
            type: "POST",
            url: "{:url('admin/Login/checkLogin')}",
            data: {'account': account, 'password': password, 'verifyCode': verifyCode},
            dataType: "json",
            success: function (msg) {
                if (msg.code == 200) {
                    $('#tiphtml2').hide();
                    $('#tiphtml').show().html(msg.msg);
                    location.href = "{:url('admin/index/index')}";
                } else {
                    if (msg.code == 400) {
                        $('#tiphtml2').show().html(msg.msg);
                        $('#captcha').trigger('click');
                        return;
                    } else {
                        $('#tiphtml2').show().html(msg.msg);
                        $('#captcha').trigger('click');
                        return;
                    }
                }
            }
        });
        return false;
    })

</script>
<!-- END PAGE LEVEL SCRIPTS -->
</body>
</html>
