{include file="public/p_header" /}
<div class="container">
    <form method="post" class="form-signin" id="regForm" action="">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">会员注册</h1>
            <img src="../../__STATIC__/images/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <div class="alert alert-danger" style="display: none;"><b>提示：</b></div>
            <div class="alert alert-success" style="display: none;"><b>提示：</b></div>
            <input type="text" autocomplete="off" name="username" id="username" autofocus="" placeholder="会员名称" class="form-control">
            <input type="text" autocomplete="off" name="email" id="email" autofocus="" placeholder="邮箱地址" class="form-control">
            <input type="password" autocomplete="off" name="psw" id="psw" placeholder="密码" class="form-control">
            <input type="password" autocomplete="off" name="repsw" placeholder="确认密码" class="form-control">
            <div class="form-group captcha" id="captchainfo">
                <div class="captcha-input col-lg-7 col-sm-7">
                    <input autocomplete="off" type="text" name="captcha" id="captcha" class="form-control" placeholder="验证码">
                </div>
                <label class="control-label col-lg-5 col-sm-5" for="captcha">
                    <img onclick="javascript:reCaptcha();" class="imgcaptcha" src="{:captcha_src()}" alt="captcha" />
                </label>
            </div>
            <label class="checkbox">
                <input autocomplete="off" type="checkbox" name="agreed" value="1" checked="true"> 我同意<a data-toggle="modal" href="#myModal2">《可以付服务协议》</a>
            </label>
            <button autocomplete="off" type="submit" class="btn btn-lg btn-login btn-block">
                <i class="fa fa-check"></i>
                <i class="fa fa-cog fa-spin fa-1x fa-fw" style="display: none;"></i>
            </button>
            <div class="registration">
                已经注册？点击<a href="login.html" class="">这里</a>登陆
            </div>
        </div>
    </form>
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">可以付服务条款</h4>
                </div>
                <div class="modal-body">
                    <h2 class="text-center">可以付服务协议</h2>
                    <p>欢迎使用“可以付”软件系统</p>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
</div>
<script src="../../__STATIC__/js/jquery-1.10.2.min.js"></script>
<script src="../../__STATIC__/js/bootstrap.min.js"></script>
<script src="../../__STATIC__/js/modernizr.min.js"></script>
<script src="../../__STATIC__/js/jquery.validate.min.js"></script>
<script src="../../__STATIC__/js/jquery.form.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var ajaxurl = '{:url("/admin/p/doregist")}';
        var checkul = '{:url("/admin/p/check")}';
        $("#regForm").validate({
            rules: {
                username:{ 
                    required: true,
                    remote:{
                        url: '{:url("/admin/p/checkUser")}',
                        data: {
                            username: function() {
                                return $( "#username" ).val();
                            }
                        }
                    }
                },
                email:{ 
                    required: true,
                    email:true,
                    remote:{
                        url: '{:url("/admin/p/checkEmail")}',
                        data: {
                            email: function() {
                                return $( "#email" ).val();
                            }
                        }
                    }
                },
                psw:{ 
                    required: true,
                },
                repsw:{ 
                    required: true,
                    equalTo: "#psw"
                },
                captcha:{
                    required: true,
                    remote:{
                        url: checkul,
                        data: {
                            captcha: function() {
                                return $( "#captcha" ).val();
                            }
                        }
                    }
                },
                agreed:{ 
                    required: true
                }
            },
             messages: {
                username:{ 
                    required: "请输入用户名",
                    remote:"用户名已占用"
                },
                email:{ 
                    required: "请输入邮箱",
                    email:"邮箱格式不正确.",
                    remote:"邮箱已占用"
                },
                psw:{ 
                    required: "请输入密码"
                },
                repsw:{ 
                    required: "请确认密码",
                    equalTo: "密码不匹配"
                },
                captcha:{
                    required: "请输入验证码",
                    remote:"验证码错误"
                },
                agreed:{ 
                    required: "您需同意协议才可继续"
                }
            },
            errorElement : 'div',
            errorLabelContainer: '.alert-danger',
            submitHandler:function(form){
               $('#regForm').ajaxSubmit(options); 
            }
        });

        var options = { 
            beforeSubmit:  showRequest,
            success:       showResponse,
            url:       ajaxurl,
            // clearForm: true,
            // resetForm: true   
        };
        // pre-submit callback 
        function showRequest(formData, jqForm, options) { 
            $('.fa-check').hide();
            $('.fa-spin').fadeIn('fast');
            $('.btn-login').attr('disabled',true);
            return true; 
        } 
        // post-submit callback 
        function showResponse(responseText, statusText, xhr, $form)  { 
            $('.alert-success').hide();
            if(responseText == 1){
                $('.alert-success').show().html('<b>提示：<b/>注册成功，跳转中....');
                window.location.href = '{:url("/admin/login")}';
            }else{
                $('.btn-login').attr('disabled',false);
                $('.alert-danger').show().html('<b>提示：<b/>用户创建失败.');
                setTimeout(function(){
                    $('.fa-spin').hide(); 
                    $('.fa-check').fadeIn('slow');
                    $('.alert-danger').fadeOut().html('<b>提示：<b/>'); 
                },500)
            }
            return false;
        }
    })
    function reCaptcha(){
        var captchaurl = '{:url("/captcha/id/'+Math.random()+'")}';
        $(".imgcaptcha").attr("src",captchaurl);
        $("#captcha").focus(); 
    }
</script>
{include file="public/p_footer" /}