<!--充值记录-->
{include file="public/header" /}
</head>
<body class="">
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="#">控制面板</a></li>
                <li>消费记录</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->

        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">消费记录</span>
                            </div>

                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                <thead>
                                <tr>
                                    <th> 用户昵称</th>
                                    <th> 门店名称</th>
                                    <th> 消费日期</th>
                                    <th> 消费类型</th>
                                    <th> 课程类型</th>
                                    <th> 常规消费</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="list" id="vo"}
                                <tr>
                                    <th> {$vo.nickName}</th>
                                    <th> {$vo.name}</th>
                                    <th> {$vo.date}</th>
                                    <th> {if($vo.type == 1)}常规健身{elseif($vo.type ==2)}课程消费{else/}未知{/if}</th>
                                    <th> {$vo.cid}</th>
                                    <th> {$vo.gid}</th>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE BASE CONTENT -->
        </div>
        <!--man content end-->
        {include file="public/copyright" /}
    </div>
</div>
{include file="public/footer" /}





