{include file="public/header" /}
</head>
<!-- END HEAD -->
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="{:url('admin/index/index')}">控制面板</a></li>
                <li>用户列表</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->
        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: Demo Datatable 1 -->
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">用户列表</span>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <table style="margin-top: 10px;" class="table table-striped table-hover table-bordered" id="sample_editable_1">
                                <thead>
                                    <tr role="row" class="heading">
                                        <th width="2%"> 编号</th>
                                        <th width="5%">用户昵称</th>
                                        <th width="5%"> 性别</th>
                                        <th width="5%"> 电话</th>
                                        <th width="3%"> 是否禁止登录</th>
                                        <th width="3%"> 用户创建时间</th>
                                        <th width="3%"> 操作时间</th>
                                        <th width="8%"> 操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {foreach $list as $k=>$v}
                                    <span id="password{$v.id}" var="{$v.password}"></span>
                                    <span id="user_status{$v.id}" var="{$v.user_status}"></span>
                                    <tr role="row" class="heading" id="">
                                        <th width="2%" id="id{$v.id}">{$k+1}</th>
                                        <th width="5%" id="nickname{$v.id}">{$v.nickname}</th>
                                        <th width="5%" id="gender{$v.id}">{$v.gender}</th>
                                        <th width="5%" id="mobile{$v.id}">{$v.mobile}</th>
                                        <th width="3%" id="">{if($v.user_status==1)}允许{else /}禁用{/if}</th>
                                        <th width="3%" id="">{$v.create_time}</th>
                                        <th width="3%" id="">{$v.time}</th>
                                        <th width="8%">
                                            <a class="btn green btn-outline sbold" data-toggle="modal" href="#editUser"
                                                onclick="editUserMsg({$v.id});"><i class="fa fa-pencil">
                                                </i>&nbsp;编辑
                                            </a>

                                            <a class="btn green btn-outline sbold" data-toggle="modal" href="../a/u_address.html?id={$v.id}"
                                                name="location" type="del1"><i class="fa fa-pencil"></i>&nbsp;查看地址
                                            </a>

                                            <a class="btn red btn-outline sbold" data-toggle="modal" href="#confirm1"
                                                data="{$v.id}" name="delete" type="del1"><i class="fa fa-trash"></i>&nbsp;删除
                                            </a>
                                        </th>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public/copyright" /}
</div>
</div>
<!-- EDIT  begin -->
<div id="editUser" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-red">编辑用户信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form method="post" id="editUsermessage">
                        <div class="col-md-8" style="margin-left: 20px;">
                            <span style="width: 50px;line-height:30px;">用户昵称:</span>
                            <input type="text" value="" name="nickname" id="editUsername" class="col-md-12 form-control"><br />

                            <span style="width: 50px;line-height:30px;">密码:</span>
                            <input type="password" value="" name="password" id="editPasswd" class="col-md-12 form-control"><br />

                            <span style="width: 50px;line-height:30px;">联系方式:</span>
                            <input type="text" value="" name="mobile" id="editPhone" class="col-md-12 form-control"><br />

                            <br />
                            <span style="width: 50px;line-height:30px;"></span>
                            <input type="hidden" readonly="readonly" class="col-md-12 form-control" id="edituid" name="id"><br />

                            <span style="width: 50px;line-height:30px;">是否禁止登录:</span>
                            <div class="mt-radio-list">
                                <label class="mt-radio"> 允许
                                    <input type="radio" value="1" name="user_status" checked class="status" />
                                    <span></span>
                                </label>
                                <label class="mt-radio"> 禁用
                                    <input type="radio" value="0" name="user_status" class="status" />
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </form>
                    <!-- from  end -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                <button type="button" class="btn green" onclick="editUserMsgbtn()">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- EDIT end -->
<!-- 升级用户 -->
<div id="confirm" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p>你确定通过该用户吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green btn-outline sbold">取消</button>
                <button type="button" data-dismiss="modal" class="btn red btn-outline sbold" id="sureDel">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 删除用户 -->
<div id="confirm1" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p>你确定删除该用户吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green btn-outline sbold">取消</button>
                <button type="button" data-dismiss="modal" class="btn red btn-outline sbold" id="sureDel1">确定</button>
            </div>
        </div>
    </div>
</div>




<div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p id="tip_info"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="sure">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除 -->

{include file="public/footer" /}

<script type="text/javascript">
    //审核用户
    $('a[name=upuser]').click(function () {
        var tid = $(this).attr('data');
        // alert(tid);return;
        $('#sureDel').attr('data', tid);
        $('#sureDel').click(function () {
            var id = $(this).attr('data');
            // alert(id);return ;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{:url('admin/Customers/upuser')}",//升级用户
                data: { 'id': id },
                success: function (msg) {
                    // alert(msg);return;
                    if (msg.code == 200) {
                        $('#tip').modal('show');
                        $("#sure").click(function () {
                            $('a[name=upuser]').text('已通过');
                        })
                        window.location.reload();
                    } else {
                        if (msg.code == 400) {
                            $("#tip_info").html(msg.msg);
                            $('#tip').modal('show');
                        } else {
                            $("#tip_info").html("未知错误");
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                                window.location.reload();
                            })
                        }
                    }
                },
                error: function (err) {
                }
            });
        });
    })


    /*删除用户*/
    $('a[name=delete]').click(function () {
        var tid = $(this).attr('data');
        $('#sureDel1').attr('data', tid);
        $('#sureDel1').click(function () {
            var id = $(this).attr('data');
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{:url('admin/Customers/deluser')}",
                data: { 'id': id },
                success: function (msg) {
                    if (msg.code == 200) {
                        window.location.reload();
                    } else {
                        if (msg.code == 400) {
                            $("#tip_info1").html(msg.msg);
                            $('#tip1').modal('show');
                        } else {
                            $("#tip_info1").html("未知错误");
                            $('#tip1').modal('show');
                            $("#sure1").click(function () {
                                window.location.reload();
                            })
                        }
                    }
                },
                error: function (err) {
                }
            });
        });
    })

    //编辑信息
    function editUserMsg(id) {

        user_status = $("#user_status" + id).attr('var');
        $("#edituid").val(id);
        $("#editUsername").val($("#nickname" + id).html());
        $("#editPhone").val($("#mobile" + id).html());
        //获取到值放入到新值中
        $("#editPasswd").val($("#password" + id).attr('var'));
        //单选按钮
        //正常
        if (user_status == 1) {
            $(".status").eq(0).prop("checked", true);
        }
        //禁用
        if (user_status == 0) {
            $(".status").eq(1).prop("checked", true);
        }

        // 下拉框
        // ①获取值放入到下拉框中
        // $("#editRegion").val($("#region" + id).html());
        // ② var t  = $("#region"+id).html();
        // $("#editRegion").find("option[value='"+t+"']").attr("selected",true);
    }

    //更新用户信息
    function editUserMsgbtn() {

        if ($('#editUsername').val() == "" || $('#editPasswd').val() == "" || $('#editPhone').val() == "") {
            $("#tip_info").html("数据无变化");
            $('#tip').modal('show');
            return false;
        }
        var data = $('#editUsermessage').serialize();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{:url('admin/Customers/saveUserMsg')}",
            data: data,
            success: function (msg) {
                if (msg.code == 1) {
                    $('#tip').modal('show');
                    $("#tip_info").html(msg.msg);
                    $("#sure").click(function () {
                        window.location.reload();
                    })
                } else {
                    $("#tip_info").html(msg.msg);
                    $('#tip').modal('show');
                }
            },
            error: function (err) {
            }
        });
    }
</script>