{include file="public/header" /}
</head>
<!-- END HEAD -->
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="{:url('admin/index/index')}">控制面板</a></li>
                <li>用户地址详情</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->
        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: Demo Datatable 1 -->
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red sbold uppercase"></i>
                                <span class="caption-subject font-red sbold ">用户地址详情</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="btn-group" style="float: right; margin-right: 80px;">
                                        <a href="{:url('/a/cust_list')}" class="btn green" data-toggle="modal" name="add">
                                            返回用户列表页
                                            <i class=""></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped- table-bordered table-hover table-checkable" id="MemberAdressTable">
                                <thead>
                                    <tr>
                                        <th>会员ID</th>
                                        <th>收件人姓名</th>
                                        <th>收件人电话</th>
                                        <th>收件人详细地址</th>
                                        <th>地址类型</th>
                                        <th>是否为默认地址</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {if $list != 1}
                                    {foreach $list as $v}
                                    <tr>
                                        <th>{$v.uid}</th>
                                        <th>{$v.name}</th>
                                        <th>{$v.phone}</th>
                                        <th>{$v.province}{$v.city}{$v.district}{$v.address}</th>
                                        <th>{$v.add_type}</th>
                                        <th>{if $v.is_default == 1} 是 {else /} 否 {/if} </span></th>
                                    </tr>
                                    {/foreach}
                                    {/if}
                                    {if $list == 1}
                                    <tr style="text-align: center;color:red">
                                        <th colspan="6">暂无数据!</th>

                                    </tr>
                                    {/if}
                                </tbody>
                                <tfoot>

                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file="public/copyright" /}
</div>
</div>
<!-- EDIT  begin -->
<div id="editUser" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title font-red">编辑用户信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <!-- from  end -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                <button type="button" class="btn green" onclick="editUserMsgbtn()">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- EDIT end -->
{include file="public/footer" /}