{include file="public/header" /}

</head>
<!-- END HEAD -->

<body class="">
    {include file="public/topbar" /}
    <div class="container-fluid">
        <div class="page-content page-content-popup">
            <div class="page-content-fixed-header">
                <!-- BEGIN BREADCRUMBS -->
                <ul class="page-breadcrumb">
                    <li><a href="{:url('admin/index/index')}">控制面板</a></li>
                    <li>编辑&查看订单详情</li>
                </ul>
                <!-- END BREADCRUMBS -->
            </div>
            <!--左侧菜单-->
            {include file="public/sidenav" /}
            <!--man content begin-->

            <div class="page-fixed-main-content">
                <!-- BEGIN PAGE BASE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light portlet-fit bordered">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-settings font-red"></i>
                                    <span class="caption-subject font-red  uppercase">编辑&查看订单详情</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="btn-group" style="float: right; margin-right: 380px;margin-top: -56px">
                                        <a href="{:url('/a/orderlist',['type'=>$t])}" class="btn green" data-toggle="modal"
                                            name="add">
                                            返回订单列表页
                                            <i class=""></i>
                                        </a>
                                    </div>
                                </div>

                                <form action="#" class="form-horizontal form-bordered" id="editOrderForm">
                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="control-label col-md-1">订单用户昵称:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" disabled name="" value={$list.nickname} />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-1">用户手机号:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="phone" value={$list.phone} />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-1">订单号:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" disabled name="order_num" value="{$list.order_num}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-1">物品描述:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="title" value="{$list.title}" />
                                            </div>
                                        </div>
                                        {if $t ==1}
                                        <div class="form-group" id="upload">
                                            <label class="control-label col-md-1">物品图片:</label>
                                            <div class="col-md-4">
                                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                                    <div class="fileinput-preview thumbnail pic" data-trigger="fileinput"
                                                        style="width: 200px; height: 150px;">
                                                        <img src="{$list.img}" alt="暂无图片" />
                                                    </div>
                                                    <!--  <span class="font-red sbold help-block">上传的图片必须:高为:190px;宽为:690px</span> -->
                                                    <div>
                                                        <span class="btn red btn-outline btn-file">
                                                            <span class="fileinput-new"> 选择图片 </span>
                                                            <span class="fileinput-exists"> 更换图片 </span>
                                                            <input type="file" name="img"> </span>
                                                        <a href="javascript:;" class="btn red fileinput-exists"
                                                            data-dismiss="fileinput"> 移除图片 </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        {/if}
                                        <div class="form-group">
                                            <label class="control-label col-md-1">订单价格:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="proprice" value="{$list.proprice}" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-1">福豆:</label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="bean" value="{$list.bean}" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-1"> 订单状态 :</label>
                                            <div class="col-md-4">
                                                <select name="status" id="edit_pid" class="col-md-12 form-control">
                                                    <option value="1" {if($list.status=='1' )}selected{/if}>未接单 </option>
                                                        <option value="2" {if($list.status=='2' )}selected{/if}>已接单 </option>
                                                        <option value="3" {if($list.status=='3' )}selected{/if}>已完成 </option>
                                                        <option value="4" {if($list.status=='4' )}selected{/if}>已取消 </option>
                                                        </select> </div> </div> <div class="form-group">
                                                        <label class="control-label col-md-1">下单时间:</label>
                                                        <div class="col-md-4">
                                                            <input type="text" class="form-control" disabled name="create_time"
                                                                value="{$list.create_time}" />
                                                        </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-1">接单时间:</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" name="shiptime" disabled
                                                        value="{$list.shiptime}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-1">订单自动关闭时间:</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" name="order_end_time"
                                                        disabled value="{$list.order_end_time}" />
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-1">送达时间:</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" name="receivingtime"
                                                        disabled value="{$list.receivingtime}" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-1">订单完成时间:</label>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control" name="finishtime" disabled
                                                        value="{$list.finishtime}" />
                                                </div>
                                            </div>

                                            <input type="hidden" name="id" id="sid" value="{$list.id}">
                                            <div class="form-actions" style="margin-top:40px;">
                                                <div class="row">
                                                    <div class="col-md-offset-1 col-md-1">
                                                        <a href="javascript:;" class="btn green" id="submit">
                                                            <i class="fa fa-check"></i> 提交</a>
                                                    </div>
                                                </div>
                                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--man content end-->

                {include file="public/copyright" /}
            </div>
        </div>

        <div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">提示框</h4>
                    </div>
                    <div class="modal-body">
                        <p id="tip_info"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn dark btn-outline">取消</button>
                        <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
                    </div>
                </div>
            </div>
        </div>

        {include file="public/footer" /}

        <script>
            $('#submit').click(function () {
                var data = $('#editOrderForm').serialize();
                var img = $('div.pic img').attr('src');
                data = data + "&img=" + img;
                $.ajax({
                    type: "POST",
                    url: "{:url('admin/orderlist/editord')}",
                    data: data,
                    success: function (msg) {
                        console.log(msg);
                        if (msg == 1) {
                            $('#tip_info').html("更新成功!");
                            $('#tip').modal('show');
                            $("#sure").click(function () {
                                window.location.reload();
                            })
                        } else if (msg == 2) {
                            $('#tip_info').html("更新失败!");
                            $('#tip').modal('show');
                        } else {
                            $('#tip_info').html("您有未填项!");
                            $('#tip').modal('show');
                        }
                    },
                    complete: function () {}
                })
            })
        </script>