{include file="public/header" /}
</head>
<style>
    .btn{
        font-size: 12px;
    }
</style>
<!-- END HEAD -->
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                {if $type==1}<li>帮我带订单</li>{/if}
                {if $type==2}<li>帮你带订单</li>{/if}

            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->
        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: Demo Datatable 1 -->
                    <!-- Begin: life time stats -->
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                {if $type ==1} <i class="fa fa-shopping-cart"></i>帮我带订单列表 {/if}
                                {if $type ==2} <i class="fa fa-shopping-cart"></i>帮你带订单列表 {/if}
                            </div>
                        </div>
                        <div class="portlet-body">

                            {if $type}<input type="hidden" value="{:url('admin/orderlist/ord_list',['type'=>$type])}"
                                name="ajaxUrl" id="ajaxUrl">
                            <input type="hidden" value="{:url('admin/orderlist/ord_action',['type'=>$type])}" name="ajaxUrl"
                                id="ajaxUrlAction">
                            {/if}

                            <div class="table-container">
                                <div class="table-actions-wrapper">
                                    <span> </span>
                                    <select class="table-group-action-input form-control input-inline input-small input-sm"
                                        name="gaction">
                                        <option value=""> -- 批量操作 -- </option>
                                        <option value="del">删除</option>
                                        <option value="doexport">导出订单</option>
                                    </select>
                                    <button class="btn btn-sm btn-success table-group-action-submit">
                                        <i class="fa fa-check"></i> 提交</button>
                                </div>
                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-gift"></i>高级搜索</div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse" data-original-title="" title="点击收起或展开">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="note note-info">
                                            <p>可选择一个或多个进行搜索</p>
                                        </div>
                                        <table class="table table-striped" id="productfilter" style="margin-top: 20px;">
                                            <tbody>
                                                <tr role="row" class="filter margin-bottom-10">
                                                    <td>
                                                        <input placeholder="请输入下单用户昵称" class="form-control form-filter input-sm"
                                                            name="nickname">
                                                    </td>
                                                    <td>
                                                        <input placeholder="请输入订单号" class="form-control form-filter input-sm"
                                                            name="order_num">
                                                    </td>
                                                </tr>

                                                <tr role="row" class="filter margin-bottom-10">
                                                    <td>
                                                        <input placeholder="请输入物品名" class="form-control form-filter input-sm"
                                                            name="title">
                                                    </td>
                                                    <td>
                                                        <select class="form-control m-input form-filter m_selectpicker"
                                                            data-col-index="6" name="status">
                                                            <option value="none">--请选择订单状态--</option>
                                                            <option value="1">未接单 </option>
                                                            <option value="2">已接单 </option>
                                                            <option value="3">已完成 </option>
                                                            <option value="4">已取消 </option>
                                                        </select>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        <div class="col-lg-10 m--margin-bottom-10-tablet-and-mobile">
                                                            <label>请选择订单开始时间:</label>
                                                            <div class="input-daterange input-group" id="m_datepicker22"
                                                                style="margin-left:-16px;">
                                                                <input type="text" class="form-control m-input form-filter"
                                                                    name="reg_start" placeholder="从" data-col-index="7" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-lg-10 m--margin-bottom-10-tablet-and-mobile">
                                                            <label>请选择订单结束时间:</label>
                                                            <div class="input-daterange input-group" id="m_datepicker23">
                                                                <input type="text" class="form-control m-input form-filter"
                                                                    name="reg_end" placeholder="止" data-col-index="7" />
                                                                <div class="input-group-append">
                                                                    <span class="input-group-text"><i class="la la-ellipsis-h"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr align="center">
                                                    <td colspan="3" align="center">
                                                        <div style="margin-top: 20px;">
                                                            <button class="btn btn-sm btn-success filter-submit margin-bottom">
                                                                <i class="fa fa-search"></i> 开始搜索</button>
                                                            <button class="btn btn-sm btn-default filter-cancel">
                                                                <i class="fa fa-times"></i> 重置</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <table class="tablelist table-striped table-bordered table-hover table-checkable" id="datatable_products">
                                    <thead>
                                        <tr role="row" class="heading">
                                            <th width="1%">
                                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                    <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes" />
                                                    <span></span>
                                                </label>
                                            </th>
                                            <th width="8%"> 下单用户昵称 </th>
                                            <th width="5%">物品名</th>
                                            <th width="8%">订单号</th>
                                            <th width="8%">订单金额</th>
                                            <th width="5%">福豆数</th>
                                            <th width="5%">订单状态</th>
                                            <th width="5%">下单时间</th>
                                            <th width="5%">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- End: life time stats -->
                </div>
            </div>
        </div>
    </div>
    {include file="public/copyright" /}
</div>
</div>


<div class="modal fade" id="ajax" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <img src="../assets/global/img/loading-spinner-grey.gif" alt="" class="loading">
                <span> &nbsp;&nbsp;Loading... </span>
            </div>
        </div>
    </div>
</div>

<div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p id="tip_info"></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">确定</button>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}