{include file="public/header" /}
</head>
<!-- END HEAD -->
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="index.html">控制面板</a></li>
                <li>管理员列表</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->
        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Begin: Demo Datatable 1 -->
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" font-dark"></i>
                                 <span class=" icon-list  font-red">&nbsp;管理员列表</span>
                            </div>
                        </div>
                        <div class="portlet-body">

                            <table style="margin-top: 10px;"
                                   class="table table-striped table-hover table-bordered"
                                   id="sample_editable_1">
                                <thead>
                                <tr role="row" class="heading">
                                    <th width="3%"> ID</th>
                                    <th width="5%"> 登录账户</th>
                                    <th width="5%"> 昵称</th>
                                    <th width="5%"> 邮箱</th>
                                    <th width="5%"> 电话</th>
                                    <th width="5%"> 状态</th>
                                    <th width="10%"> 权限</th>
                                    <th width="10%"> 最后登录时间</th>
                                    <th width="10%"> 注册时间</th>
                                    <th width="12%"> 操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="list" id="vo"}
                                <tr role="row" class="heading" id="remove{$vo.id}">
                                    <th width="3%" id="id{$vo.id}">{$vo.id}</th>
                                    <th width="5%" id="account{$vo.id}">{$vo.account}</th>
                                    <th width="5%" id="realname{$vo.id}">{$vo.realname}</th>
                                    <th width="5%" id="email{$vo.id}">{$vo.email}</th>
                                    <th width="10%" id="mobile{$vo.id}">{$vo.mobile}</th>
                                    <th width="5%" id="status{$vo.id}">{$vo.status==1?'启用':'禁用'}</th>
                                    <th width="5%" id="status1{$vo.id}">{if condition="$vo.power eq 1"}超级管理{elseif
                                        condition="$vo.power eq 2"}普通管理{elseif condition="$vo.power eq 3"}网站编辑{elseif
                                        condition="$vo.power eq 4"}运营推广{elseif
                                        condition="$vo.power eq 0"}暂未赋予权限{/if}
                                    </th>
                                    <th width="10%">{$vo.last_login_time|date="Y-m-d H:i:s",###}</th>
                                    <th width="10%">{$vo.create_time|date="Y-m-d H:i:s",###}</th>
                                    <th width="12%">
                                        <a class="btn green btn-outline sbold" data-toggle="modal"
                                           href="#editUser" onclick="editUserMsg({$vo.id},{$vo.status},{$vo.power});"><i
                                                class="fa fa-pencil"></i>&nbsp;编辑
                                        </a>
                                    </th>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End: Demo Datatable 1 -->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!--man content end-->


    {include file="public/copyright" /}
</div>
</div>
<div id="editUser" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">编辑管理员信息</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form method="post" id="editUserMsg">
                        <div class="col-md-8" style="margin-left: 20px;">

                            <span style="width: 50px;line-height:30px;">ID:</span>
                            <input type="text" readonly="readonly" class="col-md-12 form-control"id="uid" name="id"><br/>

                            <span style="width: 50px;line-height:30px;">账户:</span>
                            <input type="text" id="account" name="account" class="col-md-12 form-control"><br/>

                            <span style="width: 50px;line-height:30px;">姓名:</span>
                            <input type="text" id="realname" name="realname" class="col-md-12 form-control"><br/>

                            <span style="width: 50px;line-height:30px;">密码(<span style="color: red">不填默认为不修改</span>):
                            </span>
                            <input type="password" id="passwd" name="password" class="col-md-12 form-control"><br/>

                            <span style="width: 50px;line-height:30px;">邮箱:</span>
                            <input type="text" id="email" name="email" class="col-md-12 form-control"><br/>

                            <span style="width: 50px;line-height:30px;">电话(<span style="color: red">电话号码默认11位数</span>):
                            </span>
                            <input type="text" id="mobile" name="mobile" class="col-md-12 form-control"><br/>

                            <div id="hideStatus">
                                <span style="width: 50px;line-height:30px;">是否启用:</span>
                                <div class="mt-radio-list">
                                    <label class="mt-radio"> 启用
                                        <input type="radio" class="status" value="1" name="status"/>
                                        <span></span>
                                    </label>

                                    <label class="mt-radio"> 禁用
                                        <input type="radio" class="status" value="0" name="status"/>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            {if $power eq 1}

                            <div id="hide">
                                <span style="width: 50px;line-height:30px;">权限:</span>
                                <div class="mt-radio-list">
                                    <label class="mt-radio"> 普通管理
                                        <input type="radio" class="power" value="2" name="power" id="power2"/>
                                        <span></span>
                                    </label>
                                    <label class="mt-radio"> 网站编辑
                                        <input type="radio" class="power" value="3" name="power" id="power3"/>
                                        <span></span>
                                    </label>
                                    <label class="mt-radio"> 运营推广
                                        <input type="radio" class="power" value="4" name="power" id="power4"/>
                                        <span></span>
                                    </label>
                                    <label class="mt-radio"> 暂不赋予权限
                                        <input type="radio" class="power" value="0" name="power" id="power0"/>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            {/if}
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                <button type="button" class="btn green" onclick="saveUserMsg()">保存</button>
            </div>
        </div>
    </div>
</div>
<div id="addUserMsg" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">添加管理员</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form method="post" id="addUsermessage">
                        <div class="col-md-8" style="margin-left: 20px;">
                            <span style="width: 50px;line-height:30px;">账户:</span><input type="text" name="account" id="addAccount"
                                                                                         class="col-md-12 form-control"><br/>
                            <span style="width: 50px;line-height:30px;">姓名:</span><input type="text" name="realname" id="addRealname"
                                                                                         class="col-md-12 form-control"><br/>
                            <span style="width: 50px;line-height:30px;">密码:</span><input type="text" name="password" id="addPasswd"
                                                                                         class="col-md-12 form-control"><br/>
                            <span style="width: 50px;line-height:30px;">邮箱:</span><input type="text" name="email" id="addEmail"
                                                                                         class="col-md-12 form-control"><br/>
                            <span style="width: 50px;line-height:30px;">电话(<span
                                    style="color: red">电话号码默认11位数</span>):</span><input type="text" name="mobile" id="addMobile"
                                                                                        class="col-md-12 form-control"><br/>

                            <span style="width: 50px;line-height:30px;">是否启用:</span>
                            <div class="mt-radio-list">
                                <label class="mt-radio"> 启用
                                    <input type="radio" value="1" name="status" checked/>
                                    <span></span>
                                </label>
                                <label class="mt-radio"> 禁用
                                    <input type="radio" value="0" name="status"/>
                                    <span></span>
                                </label>
                            </div>
                            {if $power eq 1}
                            <div id="">
                                <span style="width: 50px;line-height:30px;">权限:</span>
                                <div class="mt-radio-list">
                                    <label class="mt-radio"> 普通管理
                                        <input type="radio" class="power" value="2" name="power" checked/>
                                        <span></span>
                                    </label>
                                    <label class="mt-radio"> 网站编辑
                                        <input type="radio" class="power" value="3" name="power"/>
                                        <span></span>
                                    </label>
                                    <label class="mt-radio"> 运营推广
                                        <input type="radio" class="power" value="4" name="power"/>
                                        <span></span>
                                    </label>
                                    <label class="mt-radio"> 暂不赋予权限
                                        <input type="radio" class="power" value="0" name="power"/>
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            {/if}
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">关闭</button>
                <button type="button" class="btn green" onclick="addUserMsg()">添加</button>
            </div>
        </div>
    </div>
</div>
<div id="tipDelete" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p>超级管理员不能被删除</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">确定</button>
            </div>
        </div>
    </div>
</div>
<div id="confirm" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p id="info">确定删除该管理员吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline">取消</button>
                <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
            </div>
        </div>
    </div>
</div>
<div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示框</h4>
            </div>
            <div class="modal-body">
                <p id="tip_info">删除失败</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn dark btn-outline" id="surebtn">确定</button>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript">
    function editUserMsg(id, status, power) {
        $("#uid").val($("#id" + id).html());
        $("#account").val($("#account" + id).html());
        $("#realname").val($("#realname" + id).html());
        $("#email").val($("#email" + id).html());
        $("#mobile").val($("#mobile" + id).html());
        if (status == 1) {
            $(".status").eq(0).prop("checked", true);
        } else {
            $(".status").eq(1).prop("checked", true);
        }
        if (power == 1) {
            $("#hide").hide();
            $("#hideStatus").hide();

        } else if (power == 2) {
            $("#hide").show();
            $("#hideStatus").show();
            $("#power2").prop("checked", true);
        } else if (power == 3) {
            $("#hide").show();
            $("#hideStatus").show();
            $("#power3").prop("checked", true);
        } else if (power == 4) {
            $("#hide").show();
            $("#hideStatus").show();
            $("#power4").prop("checked", true);
        } else {
            $("#hide").show();
            $("#hideStatus").show();
            $("#power0").prop("checked", true);
        }
    }

    //更新用户信息
    function saveUserMsg() {
        if ($('#account').val() == "" || $('#realname').val() == "" || $('#email').val() == "" || $('#mobile').val() == "") {
            $("#tip_info").html("信息不完整！");
            $('#tip').modal('show');
            return;
        }
        var data = $('#editUserMsg').serialize();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{:url('admin/User/saveUserMsg')}",
            data: data,
            success: function (msg) {
                if (msg.code == 200) {
                    $('#tip').modal('show');
                    $("#tip_info").html(msg.msg);
                    $("#surebtn").click(function () {
                        window.location.reload();
                    })
                } else {
                    $("#tip_info").html(msg.msg);
                    $('#tip').modal('show');
                }
            },
            error: function (err) {
            }
        });
    }
</script>