{include file="public/header" /}

</head>
<!-- END HEAD -->

<body class="">
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="{:url('admin/index/index')}">控制面板</a></li>
                <li>添加信息</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->

        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">编辑信息</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form action="#" class="form-horizontal form-bordered">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="control-label col-md-1">店铺名称：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="title" value="{$shopinfo.name}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">联盟ID：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" disabled name="title" value="{$shopinfo.jdid}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">联系方式：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="phone" value="{$shopinfo.phone}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">省/市/县（区）：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="location" value="{$shopinfo.province}-{$shopinfo.city}-{$shopinfo.area}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">详细地址</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="address" value="{$shopinfo.address}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">申请时间：</label>
                                        <div class="col-md-4">
                                            <input type="text" disabled class="form-control" name="createtimr" value="{$shopinfo.createtime|date='Y-m-d H:i:s',###}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">状态：</label>
                                        <div class="col-md-4">
                                            <span class="form-control" disabled name="status">{$shopinfo.status|get_status}</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">身份证：</label>
                                        <div class="col-md-1">
                                            <a href="{$id1}" class="fancybox-button" data-rel="fancybox-button">
                                                <img width="150" height="150" src="{$id1}" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-1" style="margin-left: 30px;">
                                            <a href="{$id2}" class="fancybox-button" data-rel="fancybox-button">
                                                <img width="150" height="150" src="{$id2}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-1">营业执照：</label>
                                        <div class="col-md-1">
                                            <a href="{$license1}" class="fancybox-button" data-rel="fancybox-button">
                                                <img width="150" height="150" src="{$license1}" alt="">
                                            </a>
                                        </div>
                                        <div class="col-md-1" style="margin-left: 30px;">
                                            <a href="{$license2}" class="fancybox-button" data-rel="fancybox-button">
                                                <img width="150" height="150" src="{$license2}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" value="{$shopinfo.id}" name="sid" id="sid">
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-1">
                                            <a href="javascript:;" class="btn green" id="submit">
                                                <i class="fa fa-check"></i> 提交</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--man content end-->

            {include file="public/copyright" /}
        </div>
    </div>

    <div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">
                    <p id="tip_info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">取消</button>
                    <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
                </div>
            </div>
        </div>
    </div>

    {include file="public/footer" /}

    <script>
    $('#submit').click(function(){
        var sid      = $("#sid").val();
        var title    = $("input[name='title']").val();
        if( title )
        {
            $.ajax({
                type:"POST",
                url:"{:url('admin/shoplist/updateshop')}",
                data:{'title':title,'sid':sid},
                success:function(msg){
                    if(msg==1)
                    {
                        alert('更新成功！')
                    }else{
                        alert('更新失败！')
                    }
                },
                complete:function(){
                }
            })
        }else{
            $('#tip_info').html("内容不得为空!");
            $('#tip').modal('show');
            return false;
        }
    })
    </script>