{include file="public/header" /}

</head>
<!-- END HEAD -->

<body class="">
{include file="public/topbar" /}
<div class="container-fluid">
    <div class="page-content page-content-popup">
        <div class="page-content-fixed-header">
            <!-- BEGIN BREADCRUMBS -->
            <ul class="page-breadcrumb">
                <li><a href="{:url('admin/index/index')}">控制面板</a></li>
                <li>添加信息</li>
            </ul>
            <!-- END BREADCRUMBS -->
        </div>
        <!--左侧菜单-->
        {include file="public/sidenav" /}
        <!--man content begin-->

        <div class="page-fixed-main-content">
            <!-- BEGIN PAGE BASE CONTENT -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-settings font-red"></i>
                                <span class="caption-subject font-red sbold uppercase">编辑信息</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <form action="#" class="form-horizontal form-bordered">
                                <div class="form-body">

                                    <div class="form-group">
                                        <label class="control-label col-md-1">文章分类：</label>
                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">文章标题：</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" name="title" value=""/> </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-1">文章内容：</label>
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                </div>



                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-1 col-md-1">
                                            <a href="javascript:;" class="btn green" id="submit">
                                                <i class="fa fa-check"></i> 提交</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--man content end-->

            {include file="public/copyright" /}
        </div>
    </div>

    <div id="tip" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">
                    <p id="tip_info"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn dark btn-outline">取消</button>
                    <button type="button" data-dismiss="modal" class="btn green" id="sure">确定</button>
                </div>
            </div>
        </div>
    </div>

    {include file="public/footer" /}

    <script>

        $('#submit').click(function(){

            //var image    = $('div.thumbnail img').attr('src');
            var pid      = $("#pid").val();
            var title    = $("input[name='title']").val();
            var excerpt  = $("textarea[name='excerpt']").val();
            var category = $("select[name='category']").val();
            //var content  = ue.getContent();
            if( title && excerpt && category )
            {
                $.ajax({
                    type:"POST",
                    url:"{:url('admin/post/add_post')}",
                    data:{'title':title,'excerpt':excerpt,'category':category,'pid':pid},
                    success:function(msg){
                        if(msg==1)
                        {
                            $('#tip_info').html('操作成功');
                            $('#tip').modal('show');
                            $('#sure').attr('type','redirect');
                            $('#sure').click(function(){
                                var type =$(this).attr('type');
                                if(type=='redirect')
                                {
                                    location.href="{:url('/a/post_list')}";
                                }
                            })
                        }else if(msg==2){
                            $('#tip_info').html('提交数据无变化');
                            $('#tip').modal('show');
                            $('#sure').attr('type','reload');
                            $('#sure').click(function(){
                                var type =$(this).attr('type');
                                if(type=='reload')
                                {
                                    location.reload();
                                }
                            })
                        }else{
                            $('#tip_info').html('操作失败');
                            $('#tip').modal('show');
                        }
                    },
                    complete:function(){
                        $('#submit').unbind();
                    }
                })
            }else{
                $('#tip_info').html("选项不得为空!");
                $('#tip').modal('show');
                return false;
            }
        })

    </script>