<div id="c_alert" class="exalert modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <p> 您确定要这么做吗? </p>
        <span></span>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-outline dark none">取消</button>
        <button type="button" class="btn green sure">确定</button>
    </div>
</div>